---
const year = new Date().getFullYear();
---

<footer class="footer">
  <p>
    &copy; Project {year}
    <!-- <a href="https://github.com/Overact3235" target="_blank" rel="noopener">GitHub</a> -->
   <!-- &mdash; built with <a href="https://astro.build" target="_blank" rel="noopener">Astro</a> -->
  </p>
</footer>